@keyframes iconSetting {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}
.iconSetting {
 animation: iconSetting 3s infinite;
}


@keyframes sekeleton {
  0%{
    background-color: white;
  }
  100%{
    background-color: #b5bdb7;
  }
}

.sekeleton{
  animation: sekeleton 1s infinite;
}